{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" />
        <h6 class="box-element product">
            <strong>product</strong>
        </h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">add to cart</button>
        <a class="btn btn-outline-success" href="#">view</a>
        <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" />
        <h6 class="box-element product">
            <strong>product</strong>
        </h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">add to cart</button>
        <a class="btn btn-outline-success" href="#">view</a>
        <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" />
        <h6 class="box-element product">
            <strong>product</strong>
        </h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">add to cart</button>
        <a class="btn btn-outline-success" href="#">view</a>
        <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
    </div>
</div>


{% endblock content %}